
body{
  background-image: url("fondo-corazon.jpg");
  background-size: 100% 100%;
  text-align:center;
  display:flex;
  justify-content:center;
  height: 650px;
}
main{
    background-color: white;
    width: 60%;
    height: 100%;
    border: 2px solid black;
    border-radius: 38px;
}
#pantalla1{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:65%;
    text-align: center;
}
#pantalla1 div{
    width: 100%;
    height:50%;
    display:flex;
}
#pantalla1 div #boton{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#pantalla1 div #img-stitch{
    width: 40%;
    height: 100%;
    background-image: url("stitch.gif");
    background-size: 100% 100%;
}
#pantalla2{
   display: none;
}
#title{
  width: 80%;
  height: 150px;
  background-image: url("logo.jpg");
  background-size: 100% 100% ;
}

  h2{
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    text-align:center;
  }
p{
  text-align: center;
  font-family: Florence, cursive ;
}
#movimientos{
  width: 32px;
  height: 20px;
  border: 2px solid black;
  cursor: pointer;
}
  .box{
  text-align: center;
  border: 2px solid black;
  width: 80%;
  height: 60px;
  background-color: #C4F3EB;
  overflow:scroll;
  }
  #botones{
    display:flex;
    justify-content: space-around;
  }
  .button{
    box-shadow: 3px 4px 0px 0px #343d40;
    background:linear-gradient(to bottom, #ededed 5%, #069ac7 100%);
    background-color:#ededed;
    border-radius:24px;
    border:1px solid #0a090a;
    display:inline-block;
    cursor:pointer;
    color:#191b1c;
    font-family:Courier New;
    font-size:20px;
    font-weight:bold;
    width: 150px;
    height: 80px;
    text-decoration:none;
    text-shadow:0px 1px 0px #e1e2ed;
    margin: 10px;
  }
  .button:hover{
  background:linear-gradient(to bottom, #04c790 5%, #ededed 100%);
	background-color:#04c790;
  }
  .boxcenter{
    display:flex;
    justify-content:center;
  }
