
body{
  background-image: url("fondo-corazon.jpg");
  text-align:center;
  display: flex;
  justify-content: center;
}
main{
    background-color: white;
    width: 60%;
    height: auto;
    border: 5px solid black;
    background-attachment: fixed;
  }
h1{
  font-family: 'Pacifico', cursive;
  font-size: 55px;
    color: black;
    text-align:center;
    text-decoration: blink;
    text-shadow: 5px 4px 2px pink;
  }
  h2{
    font-size: medium;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    text-align:center;
  }
p{
  text-align: center;
  font-family: Florence, cursive ;
}
#movimientos{
  width: 32px;
  height: 20px;
  border: 2px solid black;
  cursor: pointer;
}
  .box{
  text-align: center;
  border: 5px solid black;
  width: 80%;
  height: 60px;
  background-color: papayawhip;
  overflow:scroll;
  }
  #botones{
    display:flex;
    justify-content: space-around;
  }
  .button{
    width: 100px;
    margin: 10px;
    height: 40px;
    font-size: 15px;
    color:black;
    background-color: grey;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
  }
  .button:hover{
    background-color: pink;
    border: 2px solid black;
  }
  .boxcenter{
    display:flex;
    justify-content:center;
  }
